{% extends "base_generic.html" %}

{% block content %}
  <h1>PBs Search</h1>
  <form method="get">
    {{ filter.form }}
    <button type="submit" name="search">Search</button>
	<button type="submit" name="recalc" value="recalc">Recalc Rankings</button>
  </form>
  <ul>
    {%for athletepb in pbs%}
	 <li>
    <!--  <a {{forloop.counter}}>  fava href="{{ athletepb.Athlete.get_absolute_url }}"></a> -->
	  {{forloop.counter}} <a href=" {{ athletepb.Athlete.get_absolute_url }}"> {{athletepb.Athlete.Athlete_Name}}  {{athletepb.Athlete.Athlete_Surname}}</a> ({{athletepb.pb_time }})
	</li>
    {% endfor %}
  </ul>
  <!-- 
  {% if event_list %}
  <ul>
    {% for event in event_list %}
      <li>
        <a href="{{ event.get_absolute_url }}">{{ event.Event_Name}}</a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no events.</p>
  {% endif %}
-->  
{% endblock %}